F:\JCell\dist\instanciasCSP\ATP32.txt
F:\JCell\dist\instanciasCSP\ATP33.txt
F:\JCell\dist\instanciasCSP\ATP34.txt
F:\JCell\dist\instanciasCSP\ATP35.txt
F:\JCell\dist\instanciasCSP\ATP36.txt
F:\JCell\dist\instanciasCSP\ATP37.txt
F:\JCell\dist\instanciasCSP\ATP38.txt
F:\JCell\dist\instanciasCSP\ATP39.txt